MONGODB_URI=mongodb://127.0.0.1:27017/dentist-clinic
JWT_SECRET=change-this-to-a-long-random-secret
JWT_EXPIRES_IN=15m
REFRESH_TOKEN_EXPIRES_IN=30d
NEXT_PUBLIC_APP_URL=http://localhost:3000
STORAGE_DRIVER=local
LOCAL_STORAGE_PATH=./storage
CLINIC_TIMEZONE=Asia/Tehran
SMS_DRIVER=console
PAYMENT_DRIVER=mock
CRON_SECRET=change-this-to-a-long-random-cron-secret
